@font-face {
  font-family: "CircularStdBook";
  src: url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin regular-font {
  font-family: "CircularStdBook";
}
